<body>
<section id="main">
  <!--    navigation   -->

  <nav>
    <!--     logo   -->
    <a href="#" class="logo" style="height: 45px; width:40px;">
      <!--            <img src="Assests/img/logo.png"/>-->
<!--      <img src="Assests/img/Logo.jpeg"/>-->
    </a>
    <!--     logo   -->
    <!-- <button class="hamburger" id="hamburger"">
       <i class=" fas fa-bars"></i>
   </button> -->

    <!--   menu     -->
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#skills">Students</a></li>
      <li><a href="#projects">Papers</a></li>
      <!-- <li><a href="#">Client</a></li> -->
      <li><a href="#footer">Setting</a></li>
    </ul>

    <!--   menu     -->
  </nav>
  <!--    navigation   -->
</section>
</body>
