<app-navbar></app-navbar>
<!--dash conetent start-->
<section class="menu">

<!--Start Creatin Options -->
  <div class="content-01">
    <div>
    <input type="text" placeholder="Paper Name">
    <input type="text" placeholder="Type">
    <input type="text" placeholder="Number of Quections">
    <input type="text" placeholder="Number of Answers">
    <input type="button" value="Create" class="btn-outline-primary submit">
    </div>
  </div>
<!--End Creatin Options -->

</section>
<!--dash conetent end-->
